h1 {
	text-decoration:bold;
	font-size:40px;
	color:#FF0000;
	background-color:#AACCDD;
	
	}

body {
	text-align:center;
	}
	
.boxText {
	border:2px solid #000000;
	line-height:1px;
}

h2 {
	background-color:#AACCDD;
}

.ulHeader {
	font-weight:bold;
	border-bottom:1px solid #CCEEFF;
}
.ulHeaderText {
	line-height:1px;
}