html {
	background-color:#AACCDD;
	background-image: url("background.png");
	background-position: top, left;
	background-repeat: repeat;
	font-family:"Gill Sans MT", Arial, san-serif;
}

h1 {
	text-decoration:bold;
	font-size:40px;
	color:#555555;
	background-color:#AACCDD;
	}
	
.boxText {
	border:2px solid #000000;
	line-height:1px;
}

h2 {
	background-color:#AACCDD;
}

.ulHeader {
	font-weight:bold;
	border-bottom:1px solid #CCEEFF;
}
.ulHeaderText {
	line-height:2px;
}

.profileImg {
	float: left;
	border:5px solid #000000;
	margin:2px;
}

.contactInfo {
	display:inline;
	line-height:2px;
	width:500px;
	height:500px;
}
